body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #00072D;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.headshot {
    vertical-align: top;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1rem solid #ADD8E6;
    background-color: #ADD8E6;
    background-image: url('Media/Headshot.jpg');
    background-size: cover;
    background-position: center;
    float: right;
    margin: 1rem;
}

#about {
    min-height: 250px;
    padding: 2rem;
    background-color: #fff;
}

.skills {
    display: flex;
    justify-content: space-around;
}

.collumn {
    width: 30%;
}
.collumn h3 {
    font-size: 1.5rem;
}
.collumn li {
    background-color: #fff;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 25% 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    font-weight: bold;
}
.collumn li img {
    display: block;
    margin: 0 auto 1rem;
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 10%;
}
.collumn li p {
    text-align: center;
    font-weight: normal;
}

#featured-projects {
    background-color: black; 
    color: white; 
    padding: 20px;
}

#projects {
    background-color: darkgray; 
    color: white; 
    padding: 20px;
    text-align: center;
}

.Fprojects {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap;
}

.Fproject{
    background-color: #333; 
    padding: 20px; 
    margin: 10px; 
    border-radius: 10px; width: 30%; 
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Fproject img {
    height: 200px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    color: white; 
    text-decoration: none; 
    background-color: #555; 
    padding: 10px 20px; 
    border-radius: 5px;
}

h2 {
    color: #00072D;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 1rem 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

ul {
    list-style-position: outside;
    padding: 0;
    text-align: center;
}

ul li {
    display: grid;
    width: 100%;
}

.project {
    margin-bottom: 1rem;
    text-align: center;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.button img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.3s;
}

.button img:hover {
    transform: scale(1.1);
}

#contact {
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}